/*general*/
/*header*/
/*header-content-index*/
/*header-content-shop*/
/*main-index*/
/*main-shop*/
/*footer*/
/*popup*/

/*general*/
html, 
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
}
body {
    background: #ffffff; 
    color: #000000;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.center-container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
img {
    max-width: 100%;
    height: auto;
}
h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
}
h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
p {
    margin: 16px 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
}
.btn {
    display: block;
    width: 140px;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn:hover {
    background-color: #9b3335;
}
.btn:active {
    background-color: #8e3032;
    transform: scale(0.9);
}
.custom-list-1 {
    margin: 30px 0;
    padding: 0;
    list-style: none;
}
.custom-list-1 li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
}
.custom-list-1 li:last-child {
    margin-bottom: 0;
}
.custom-list-1 li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    border: 1px solid #fb565a;
    
}

/*header*/
.main-header {
    margin-bottom: 80px;
    background-color: #eeeeee;
}
.main-header-top {
    padding-top: 30px;
}
.main-header-top .current-page {
    position: relative;
}
.main-header-top .current-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fb565a;
}
.main-logo {
    float: left;
    width: 140px;
    height: 56px;
}
.main-navigation {
    float: left;
    width: 560px;
    padding-left: 20px;
    padding-top: 26px;
    text-align: right;
}
.main-navigation ul {
    padding: 0;
    margin: 0;
    font-size: 0;
    list-style: none;
}
.main-navigation li {
    display: inline-block;
    margin-right: 45px;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    text-transform: uppercase;
}
.main-navigation li:last-child {
    margin-right: 0;
}
.main-navigation a {
    color: #000000;
    text-decoration: none;
}
.main-navigation a:hover {
    color: #fb565a;
}
.main-navigation a:active {
    color: #000000;
    opacity: 0.4;
}
.user-block {
    float: left;
    width: 160px;
    padding-top: 26px;
    text-align: right;
    line-height: 30px;
    font-size: 14px;
    text-transform: uppercase;
}
.user-block a {
    position: relative;
    padding-left: 30px;
    color: #000000;
    text-decoration: none;
}
.user-block a:hover {
    color: #fb565a;
}
.user-block a:active {
    color: #000000;
    opacity: 0.4;
}
.user-block .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: url(../img/icon-basket.png) no-repeat center;
}
.user-block .card:hover::before {
    background-image: url(../img/icon-basket%20hover.png);
}
.user-block .card:active::before {
    background-image: url(../img/icon-basket.png);
}
header .header-content {
    min-height: 30px;
}

/*header-content-index*/
.header-content .slider {
    position: relative;
    width: 880px;
    min-height: 353px; 
    overflow: hidden;
}
.slider input[type="radio"] {
    display: none;
}
.slider .slider-content {
    position: relative;
    left: 880px;
/*    width: inherit;*/
    min-height: 353px;
}
.slider-content .slides {
    position: absolute;
    top: 0;
/*    width: inherit;*/
    min-height: 353px;
    box-sizing: border-box;
    padding: 1px 0;
    opacity: 0;
    transition: ease-in-out 0.4s;
}
.slides h2 {
    margin-top: 75px;
}
.slides .btn {
    width: 240px;
    margin-top: 30px;
    margin-bottom: 70px;
}
.slide-1 {
    background: url(../img/slider-1-img.png) no-repeat right 55px;
}
.slide-1 h2 {
    width: 250px;
}
.slide-1 p {
    width: 380px;
}
.slide-2 {
    background: url(../img/slider-2-img.png) no-repeat 640px 60px;
}
.slide-2 h2 {
    width: 470px;
}
.slide-2 p {
    width: 460px;
}
.slide-3 {
    background: url(../img/slider-3-img.png) no-repeat 540px bottom;
}
.slide-3 h2 {
    width: 320px;
}
.slide-3 p {
    width: 470px;
}
.slider .slider-controls {
    position: absolute;
    left: 406px;
    bottom: 90px;
    min-width: 50px;
    min-height: 10px;
    font-size: 0;
    line-height: 0;
}
.slider-controls label {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s;
}
.slider-controls label:last-child {
    margin-right: 0;
}
.slider-controls label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
.slider-controls label:hover {
    transform: scale(2.4);
}
#slide-1:checked ~ .slider-controls .slider-control-1::after {
    background-color: #c1c1c1;
}
#slide-1:checked ~ .slider-content .slide-1 {
    position: static;
    opacity: 1;
    transform: translateX(-880px);
}
#slide-2:checked ~ .slider-controls .slider-control-2::after {
    background-color: #c1c1c1;
}
#slide-2:checked ~ .slider-content .slide-2 {
    position: static;
    opacity: 1;
    transform: translateX(-880px);
}
#slide-3:checked ~ .slider-controls .slider-control-3::after {
    background-color: #c1c1c1;
}
#slide-3:checked ~ .slider-content .slide-3 {
    position: static;
    opacity: 1;
    transform: translateX(-880px);
}

/*header-content-shop*/
.header-content {
    padding-bottom: 1px;
}
.header-content h1 {
    width: 660px;
    margin: 70px auto 85px;/*top left/right bottom*/
    font-size: 40px;
    line-height: 46px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

/*main-index*/
.features {
    margin-bottom: 60px;
    border-bottom: 2px solid #eeeeee;
}
.features .features-item {
    float: left;
    margin-right: 80px;
    margin-bottom: 70px;
    width: 240px;
    box-sizing: border-box;
    padding-top: 150px;
}
.features .features-item:last-child {
    margin-right: 0;
}
.features .features-item > *:last-child {
    margin-bottom: 0;
}
.features-item p {
    font-size: 15px;
}
.features-item h3 {
    margin-top: 0;
}
.features-item .btn {
    margin-top: 30px;
}
.features-item-1 {
    background: url(../img/features-img-1.png) no-repeat top;
}
.features-item-2 {
    background: url(../img/features-img-2.png) no-repeat top;
}
.features-item-2 .btn {
    background-color: #00ca74;
}
.features-item-2 .btn:hover {
    background-color: #01a25e;
}
.features-item-2 .btn:active {
    background-color: #009053;
}
.features-item-3 {
    background: url(../img/features-img-3.png) no-repeat top;
}
.features-item-3 .btn {
    background-color: #efc84a;
}
.features-item-3 .btn:hover {
    background-color: #d6ae2c;
}
.features-item-3 .btn:active {
    background-color: #c09b24;
}
.about-us {
    margin-bottom: 45px;
/*    border: 1px solid transparent;*/
    border-bottom: 2px solid #eeeeee;
}
.about-us > *:last-child {
    margin-bottom: 70px;
}
.about-us .top-content {
    margin-bottom: 45px;
    padding-top: 1px;
}
.top-content > *:last-child {
    margin-bottom: 0;
}
.about-us-logo {
    float: right;
    width: 240px;
    text-align: center;
}
.about-us-logo span {
    position: relative;
    display: inline-block;
    margin-top: 25px;
    text-transform: uppercase;
}
.about-us-logo span::before,
.about-us-logo span::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 60px;
    border-bottom: 2px solid #eeeeee;
}
.about-us-logo span::before {
    left: -75px;
}
.about-us-logo span::after {
    right: -75px;
}
.top-content h2 {
    margin-top: 15px;
    width: 540px;
}
.top-content p {
    width: 600px;
}
.lists-container {
    margin-bottom: 45px;
}
.about-us-list {
    float: left;
    margin-bottom: 30px;
}
.about-us-list:nth-child(2n) {
    float: right;
    padding-right: 10px;
}
.about-us-list:nth-last-child(-n+2) {
    margin-bottom: 0;
}
.about-us-list .list-title {
    text-transform: uppercase;
}
.about-us-list .custom-list-1 {
    margin: 0;
    margin-top: 25px;
}
.portfolio {
    padding: 0 10px;
    margin-bottom: 85px;
    font-size: 0;
    border-bottom: 2px solid #eeeeee;
}
.portfolio .customers {
    display: inline-block;
    margin-right: 120px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #000000;
/*    text-decoration: none;*/
    vertical-align: middle;
    opacity: 0.2;
    transition: opacity 0.4s;
}
.portfolio .customers:nth-child(3n) {
    margin-right: 0;
}
.portfolio .customers:hover {
    opacity: 1;
}

/*main-shop*/
.catalog-filters {
    float: left;
    width: 240px;
    min-height: 730px;
}
.catalog-filters fieldset {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    border: none;
}
.catalog-filters legend {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;  
}
.catalog-filters-price .range-block {
    width: 240px;
    height: 80px;
    padding-top: 1px;
    margin-bottom: 13px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.range-block .main-line {
    position: relative;
    width: 200px;
    height: 2px;
    margin: 39px auto;
    background-color: #d7dcde;
}
.main-line .price-line {
    position: absolute;
    width: 160px;
    height: 2px;
    background-color: #00ca74;
}
.main-line .price-line::before, 
.main-line .price-line::after {
    content: "";
    position: absolute;
    top: -10px;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
}
.main-line .price-line::after {
    right: 0;
}
.catalog-filters-price p {
    display: inline-block;
    margin: 0;
}
.catalog-filters-price p:first-of-type {
    margin-right: 15px;
}
.catalog-filters-price label {
    text-transform: uppercase;
    margin-right: 5px;
}
.catalog-filters-price input[type="number"] {
    width: 80px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    outline: none;
}
.catalog-filters-structure input[type="radio"] {
    display: none;
}
.catalog-filters-structure label {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-left: 35px;
    line-height: 20px;
}
.catalog-filters-structure label:last-of-type {
    margin-bottom: 0;
}
.catalog-filters-structure label:before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 18px;
    height: 18px;
    border: 4px solid #c1c1c1;
    border-radius: 50%;
}
.catalog-filters-structure label:after {
    content: "";
    position: absolute;
    left: 9px;
    top: 6px;
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #c1c1c1;
}
.catalog-filters-structure label:hover::before {
    border-color: #b5b5b5;
}
.catalog-filters-structure label:hover::after {
    background-color: #b5b5b5;
}
.catalog-filters-structure  input[type="radio"]:disabled + label {
    opacity: 0.4;
}
#adaptive:checked + label[for="adaptive"]:after,
#static:checked + label[for="static"]:after,
#liquid:checked + label[for="liquid"]:after{
    display: block;
}
.catalog-filters-features input[type="checkbox"] {
    display: none;
}
.catalog-filters-features label {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-left: 35px;
    line-height: 20px;
    
}
.catalog-filters-features label:last-of-type {
    margin-bottom: 0;
}
.catalog-filters-features label::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 18px;
    height: 18px;
    border: 3px solid #c1c1c1;
    border-radius: 4px;
}
.catalog-filters-features label::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 5px;
    display: none;
    width: 10px;
    height: 10px;
    background-color: #c1c1c1;
    border-radius: 1px;
}
.catalog-filters-features label:hover::before {
    border-color: #b5b5b5;
}
.catalog-filters-features label:hover::after {
    background-color: #b5b5b5;
}
.catalog-filters-features  input[type="checkbox"]:disabled + label {
    opacity: 0.4;
}
.catalog-filters-features input[type="checkbox"]:checked + label::after {
    display: block;
}
.catalog-filters .btn {
    width: 155px;
    color: #000000;
    background-color: #f1f1f1;
}
.catalog-filters .btn:hover {
    background-color: #e5e5e5;
}
.catalog-filters .btn:active {
    background-color: #d5d5d5;
}
.catalog {
    float: right;
    width: 560px;
}
.catalog .catalog-content-sorting {
    position: relative;
    padding-right: 30px;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}
.catalog-content-sorting span {
    margin-right: 40px;
}
.catalog-content-sorting > a {
    margin-right: 45px;
    color: #c7c7c7;
    text-decoration: none;
    border-bottom: 1px dotted #00ca74;
}
.catalog-content-sorting > a:hover {
    color: #000000;
    border-bottom-style: solid;
}
.catalog-content-sorting > a:last-of-type {
    margin-right: 0;
}
.catalog-content-sorting .up-down-sorting {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
}
.up-down-sorting a {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    border: 5px solid transparent;
}
.up-down-sorting .sort-down {
    margin-right: 6px;
    border-top: 10px solid #c1c1c1;
    border-bottom: none;
}
.up-down-sorting .sort-down:hover {
    border-top-color: #000000;
}
.up-down-sorting .sort-up {
    border-bottom: 10px solid #c1c1c1;
    border-top: none;
}
.up-down-sorting .sort-up:hover {
    border-bottom-color: #000000;
}
.catalog-items {
    margin-bottom: 80px;
}
.catalog-items .catalog-item {
    position: relative;
    float: left;
    width: 240px;
    height: 270px;
    margin-right: 80px;
    margin-bottom: 80px;
}
.catalog-items .catalog-item:nth-child(2n) {
    margin-right: 0;
}
.catalog-items .catalog-item:nth-last-child(-n+2) {
    margin-bottom: 0;
}
.catalog-item .catalog-item-header {
    position: relative;
    height: 30px;
    border-radius: 3px 3px 0 0;
    background-color: #f1f1f1;
    transition: background-color 0.6s;
}
.catalog-item .catalog-item-header::before,
.catalog-item .catalog-item-header::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
}
.catalog-item .catalog-item-header::before {
    left: 12px;
}
.catalog-item .catalog-item-header::after {
    left: 30px;
    box-shadow: 18px 0 #ffffff;
}
.catalog-item:hover .catalog-item-header {
    background-color: #797979;
}
.catalog-item .catalog-item-description {
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: -1;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #ffffff;
    transition: 0.6s;
    transform: perspective(300px) rotateY(180deg);
    backface-visibility: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.catalog-item:hover .catalog-item-description {
    z-index: 1;
    transform: perspective(300px) rotateY(360deg);
}
.catalog-item-description h3 {
    margin: 30px 20px 10px 20px;/*top right bottom left*/
    line-height: 24px;
}
.catalog-item-description p {
    margin: 0 20px;
    font-size: 14px;
    line-height: 18px;
}
.catalog-item .btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.catalog-page-switchers {
    margin-bottom: 80px;
    font-size: 0;
}
.catalog-page-switchers a {
    display: inline-block;
    vertical-align: top;
    color: #000000;
    background-color: #f1f1f1;
}
.catalog-page-switchers a:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}
.catalog-page-switchers a:active {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
}
.catalog-page-switchers .page-switcher {
    width: 34px;
    height: 34px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
}
.catalog-page-switchers .current {
    background-color: #ffffff;
}


/*footer*/
.main-footer > *:last-child {
    margin-bottom: 80px;
}
.footer-map {
    position: relative;
    height: 416px;
    margin-bottom: 80px;
}
.footer-map .contacts {
    position: absolute;
    top: 90px;
    padding: 25px 20px;
    width: 250px;
    box-sizing: border-box;
    background-color: #ffffff;
}
.contacts .contacts-title {
    line-height: 30px;
}
.contacts p {
    margin-bottom: 20px;
    line-height: 20px;
    color: #666666;
}
.contacts .btn {
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}
.footer-social .left-column {
    float: left;
}
.footer-social .right-column {
    float: right;
}
.footer-social .social-buttons {
    font-size: 0;
}
.social-buttons .social-btn {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    margin-right: 30px;
    border-radius: 50%;
    background: #e1e1e1 url(../img/social-icons.png) no-repeat;
    transition: background-color 0.4s;
}
.social-buttons .social-btn:last-child {
    margin-right: 0;
}
.social-buttons .social-btn:hover {
    background-color: #fb565a;
}
.socia-buttons .social-btn:active {
    background-color: #fb565a;
}
.social-buttons .vk {
    background-position: 16px center;
}
.social-buttons .fb {
    background-position: -74px center;
}
.social-buttons .instagram {
    background-position: -163px center;
}
.footer-social h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-social p {
    margin: 0;
}

/*popup*/
.modal-content {
    position: absolute;
    left: 50%;
    bottom: 30px;
    display: none;
    margin-left: -315px;
    width: 630px;
    min-height: 420px;
    padding: 55px 90px 50px 80px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.6);
}
.modal-content-show {
    display: block;
    animation: popup-rotate 0.6s forwards;
}
@keyframes popup-rotate {
    from {
        transform: perspective(700px) rotateY(180deg);
        backface-visibility: hidden;
    }
    to {
        transform: perspective(700px) rotateY(360deg);
    }
}
.modal-content .close-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fb565a;
    border-radius: 50%;
    cursor: pointer;
}
.modal-content .close-btn:hover {
    background-color: #9b3335;
}
.modal-content .close-btn:active {
    background-color: #8e3032;
    transform: scale(0.9);
}
.close-btn::before,
.close-btn::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 7px;
    width: 26px;
    height: 5px;
    background-color: #ffffff;
}
.close-btn::before {
    transform: rotate(45deg);
}
.close-btn::after {
    transform: rotate(-45deg);
}
.feedback-form p {
    margin: 0;
}
.feedback-form .name,
.feedback-form .email {
    display: inline-block;
    width: 220px;
    margin-bottom: 20px;
    vertical-align: top;
}
.feedback-form .name {
    margin-right: 16px;
}
.feedback-form input {
    width: 100%;
    margin-top: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none;
}
.feedback-form input:hover,
.feedback-form textarea:hover {
    border-color: #a2a9ac;
}
.feedback-form input:focus,
.feedback-form textarea:focus{
    border-color: #56bffb;
}
.feedback-form .message {
    margin-bottom: 45px;
}
.feedback-form textarea {
    width: 460px;
    height: 114px;
    margin-top: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    vertical-align: top;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none;
}

.feedback-form .btn {
    width: 460px;
}